# Ignore local dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore local build outputs
dist/
build/

# Ignore git and IDE configurations
.git
.gitignore
.vscode/
.idea/

# Ignore environment variables
.env
.env.local
Dockerfile